NEXT_PUBLIC_DAPP_ENV=devnet
NEXT_PUBLIC_NETWORK_CONFIG={"chainId":"D","walletAddress":"https://devnet-wallet.multiversx.com","apiAddress":"https://devnet-api.multiversx.com","explorerAddress":"http://devnet-explorer.multiversx.com","walletConnectDeepLink":"https://maiar.page.link/?apn=com.multiversx.maiar.wallet&isi=1519405832&ibi=com.multiversx.maiar.wallet&link=https://maiar.com/","walletConnectRelayAddress":"wss://relay.walletconnect.com","walletConnectProjectId":"id","decimals":18}
NEXT_PUBLIC_API_URL=https://devnet-api.multiversx.com
NEXT_PUBLIC_USDC={"identifier": "USDC-8d4068", "decimals": 6 }
NEXT_PUBLIC_CONTROLLER_ADDRESS=erd1qqqqqqqqqqqqqpgqfj8jxtk8crkjq0whsyfl58pkpa8vljsxehjq2p8ems